<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head lang="en" th:replace="fragments :: header"></head>
  <body class="sidebar-noneoverflow starterkit">
    <div th:replace="fragments :: navbar"></div>

    <!--  BEGIN MAIN CONTAINER  -->
    <div class="main-container" id="container">
      <div class="overlay"></div>
      <div class="search-overlay"></div>

      <div th:replace="fragments :: sidebar"></div>

      <!--  BEGIN CONTENT AREA  -->
      <div id="content" class="main-content">
        <div class="layout-px-spacing">
          <!-- CONTENT AREA -->

          <div class="page-header">
            <div class="page-title">
              <h3>Kendaraan</h3>
            </div>
          </div>

          <div class="row layout-top-spacing">
            <div class="col-xl-12 col-lg-12 col-md-12 col-12 layout-spacing">
              <div class="widget-content-area br-4">
                <div class="widget-one">
                  <h6>Tambah Kendaraan</h6>

                  <form action="/kendaraan" method="POST">
                    <div class="input-group mb-4">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Plat Nomor</span>
                      </div>
                      <input type="text" name="plat1" class="form-control" />
                      <input type="text" name="plat2" class="form-control" />
                      <input type="text" name="plat3" class="form-control" />
                    </div>

                    <div class="input-group mb-4">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Pelanggan</span>
                      </div>
                      <select class="custom-select" name="pelanggan">
                        <option selected value="">Pilih pelanggan</option>
                        
                        <option th:each="customer: ${customers}" th:value="${customer.getIdPelanggan()}" th:text="${customer.getIdPelanggan() + ' - ' + customer.getNama()}"></option>
                      </select>
                    </div>

                    <div class="input-group mb-4">
                        <div class="input-group-prepend">
                          <span class="input-group-text">Jenis Kendaraan</span>
                        </div>
                        <select class="custom-select" name="jenisKendaraan">
                          <option selected value="">Pilih jenis kendaraan</option>
                          <option value="motor">Motor</option>
                          <option value="mobil">Mobil</option>
                        </select>
                    </div>

                    <div class="input-group mb-4">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Nomor Mesin</span>
                      </div>
                      <input
                        type="text"
                        name="nomorMesin"
                        class="form-control"
                      />
                    </div>

                    <input
                      type="submit"
                      class="btn btn-info btn-block mb-4 mr-2"
                      value="Submit"
                    />
                  </form>
                </div>
              </div>
            </div>
          </div>

          <div class="row layout-top-spacing">
            <div class="col-xl-12 col-lg-12 col-md-12 col-12 layout-spacing">
              <div class="widget-content-area br-4">
                <div class="widget-one">
                  <h6>List Kendaraan</h6>

                  <div class="table-responsive">
                    <table class="table mb-4">
                      <caption>
                        List Kendaraan
                      </caption>
                      <thead>
                        <tr>
                          <th class="text-center">#</th>
                          <th>Nama Pelanggan</th>
                          <th>No Plat</th>
                          <th>Jenis Kendaraan</th>
                          <th>Nomor Mesin</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr th:each="transportation, index : ${transportations}" >
                          <td class="text-center" th:text="${index.index + 1}"></td>
                          <td class="text-primary" th:text="${transportation.getCustomer().getNama()}"></td>
                          <td th:text="${transportation.getNoPlat()}"></td>
                          <td th:text="${transportation.getJenisKendaraan()}" ></td>
                          <td th:text="${transportation.getNomorMesin()}"></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- CONTENT AREA -->
        </div>
        <div class="footer-wrapper">
          <div class="footer-section f-section-1">
            <p class="">
              Copyright © 2020
              <a target="_blank" href="https://designreset.com">DesignReset</a>,
              All rights reserved.
            </p>
          </div>
          <div class="footer-section f-section-2">
            <p class="">
              Coded with
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-heart"
              >
                <path
                  d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"
                ></path>
              </svg>
            </p>
          </div>
        </div>
      </div>
      <!--  END CONTENT AREA  -->
    </div>
    <!-- END MAIN CONTAINER -->

    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    <script src="assets/js/libs/jquery-3.1.1.min.js"></script>
    <script src="bootstrap/js/popper.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="assets/js/app.js"></script>

    <script>
      $(document).ready(function () {
        App.init();
      });
    </script>
    <script src="assets/js/custom.js"></script>
    <!-- END GLOBAL MANDATORY SCRIPTS -->

    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
    <script>
      var currentPath = window.location.pathname;
      $(".menu").removeClass("active");
      $('a[href="' + currentPath + '"], a[data-active="true"]')
        .closest(".menu")
        .addClass("active");
    </script>
    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
  </body>
</html>
