<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="fragments :: header"></head>
<body class="sidebar-noneoverflow starterkit">
    
    <div th:replace="fragments :: navbar"></div>

    <!--  BEGIN MAIN CONTAINER  -->
    <div class="main-container" id="container">

        <div class="overlay"></div>
        <div class="search-overlay"></div>

        <div th:replace="fragments :: sidebar"></div>

        <!--  BEGIN CONTENT AREA  -->
        <div id="content" class="main-content">
            <div class="layout-px-spacing">


                <!-- CONTENT AREA -->

                <!-- CONTENT AREA -->

                <div class="page-header">
                    <div class="page-title">
                        <h3>Service</h3>
                    </div>
                </div>
                <div class="row layout-top-spacing">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-12 layout-spacing">
                        <div class="widget-content-area br-4">
                            <div class="widget-one">

                                <ul class="nav nav-tabs  mb-3 mt-3 nav-fill" id="justifyTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="justify-home-tab" data-toggle="tab"
                                            href="#justify-home" role="tab" aria-controls="justify-home"
                                            aria-selected="true">Tambah Service</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="justify-contact-tab" data-toggle="tab"
                                            href="#justify-contact" role="tab" aria-controls="justify-contact"
                                            aria-selected="false">List Service</a>
                                    </li>
                                </ul>

                                <div class="tab-content" id="justifyTabContent">
                                    <div class="tab-pane fade show active" id="justify-home" role="tabpanel"
                                        aria-labelledby="justify-home-tab">
                                        <div class="input-group mb-4">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"> ID_Pelanggan </span>
                                            </div>
                                            <input type="text" class="form-control">
                                        </div>

                                        <div class="input-group mb-4">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"> ID_Kendaraan </span>
                                            </div>
                                            <input type="text" class="form-control">
                                        </div>

                                        <form class="needs-validation" novalidate action="javascript:void(0);">
                                            <div class="form-row">
                                                <div class="col-md-4 mb-5">
                                                    <label for="validationTooltip01">Nama depan</label>
                                                    <input type="text" class="form-control" id="validationTooltip01"
                                                        placeholder="Nama depan" autocomplete="off" value="" required>
                                                    <div class="valid-tooltip">
                                                        Looks good!
                                                    </div>
                                                </div>
                                                <div class="col-md-4 mb-5">
                                                    <label for="validationTooltip02">Nama Belakang</label>
                                                    <input type="text" class="form-control" id="validationTooltip02"
                                                        placeholder="Nama Belakang" autocomplete="off" value=""
                                                        required>
                                                    <div class="valid-tooltip">
                                                        Looks good!
                                                    </div>
                                                </div>
                                                <div class="col-md-4 mb-5">
                                                    <label for="validationTooltipUsername">Email</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"
                                                                id="validationTooltipUsernamePrepend">@</span>
                                                        </div>
                                                        <input type="text" class="form-control"
                                                            id="validationTooltipUsername" placeholder="Email"
                                                            aria-describedby="validationTooltipUsernamePrepend"
                                                            required>
                                                        <div class="invalid-tooltip">
                                                            Please choose a unique and valid username.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-md-6 mb-5">
                                                    <label for="validationTooltip03">Nomor Handphone</label>
                                                    <input type="text" class="form-control" id="validationTooltip03"
                                                        placeholder="Nomor Handphone" required>
                                                    <div class="invalid-tooltip">
                                                        Please provide a valid city.
                                                    </div>
                                                </div>
                                            </div>
                                            <button class="btn btn-primary mt-2" type="submit">Submit form</button>
                                        </form>
                                    </div>
                                    <div class="tab-pane fade" id="justify-contact" role="tabpanel"
                                        aria-labelledby="justify-contact-tab">
                                        <div class="table-responsive">
                                            <table class="table mb-4 contextual-table">
                                                <thead>
                                                    <tr class="">
                                                        <th class="text-center">No</th>
                                                        <th>Id Pelanggan</th>
                                                        <th>Nama Depan</th>
                                                        <th>Nama Belakang</th>
                                                        <th>Email</th>
                                                        <th>No Handphone</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="table-primary">
                                                        <td class="text-center">1</td>
                                                        <td>12311</td>
                                                        <td>Ahmad</td>
                                                        <td>Jaelani</td>
                                                        <td>Jaelani@yahoo.com</td>
                                                        <td>087736781492</td>
                                                    </tr>
                                                    <tr class="table-success">
                                                        <td class="text-center">2</td>
                                                        <td>12312</td>
                                                        <td>Rifqi</td>
                                                        <td>Barliant</td>
                                                        <td>Barliant@gmail.com</td>
                                                        <td>082183569253</td>
                                                    </tr>
                                                    <tr class="table-danger">
                                                        <td class="text-center">3</td>
                                                        <td>12313</td>
                                                        <td>Aisha</td>
                                                        <td>Putri</td>
                                                        <td>aisput@gmail.com</td>
                                                        <td>085624715252</td>
                                                    </tr>
                                                    <tr class="table-warning">
                                                        <td class="text-center">4</td>
                                                        <td>12314</td>
                                                        <td>Arya</td>
                                                        <td>Ashari</td>
                                                        <td>Aryaashari@yahoo.com</td>
                                                        <td>089867102983</td>
                                                    </tr>
                                                    <tr class="table-primary">
                                                        <td class="text-center">5</td>
                                                        <td>12315</td>
                                                        <td>Reza</td>
                                                        <td>Darmawan</td>
                                                        <td>rezadarm@gmail.com</td>
                                                        <td>081287150253</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- CONTENT AREA -->

                </div>
                <div class="footer-wrapper">
                    <div class="footer-section f-section-1">
                        <p class="">Copyright © 2020 <a target="_blank" href="https://designreset.com">DesignReset</a>,
                            All rights reserved.</p>
                    </div>
                    <div class="footer-section f-section-2">
                        <p class="">Coded with <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart">
                                <path
                                    d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
                                </path>
                            </svg></p>
                    </div>
                </div>
            </div>
            <!--  END CONTENT AREA  -->

        </div>
        <!-- END MAIN CONTAINER -->

        <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
        <script src="assets/js/libs/jquery-3.1.1.min.js"></script>
        <script src="bootstrap/js/popper.min.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <script src="plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
        <script src="assets/js/app.js"></script>

        <script>
            $(document).ready(function () {
                App.init();
            });
        </script>
        <script src="assets/js/custom.js"></script>
        <!-- END GLOBAL MANDATORY SCRIPTS -->

        <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
        <script>
            var currentPath = window.location.pathname;
            $('.menu').removeClass('active');
            $('a[href="' + currentPath + '"], a[data-active="true"]').closest('.menu').addClass('active');
        </script>
        <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
</body>

</html>